.user-image {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: -6px;
    margin-right: 4px;
}

.card.card-cus {
    border-top: 2px solid #4c4c4c;
    padding: 10px 0;
    min-height: 300px;
}

.ck-editor__editable {
    min-height: 500px;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.label-custom {
    font-weight: 700;
    font-size: 18px;
}

.br-r {
    background: #f9cccc;
}

.br-g {
    background: #d3f9b4;
}

.status {
    cursor: pointer;
}
